# Bot
TELEGRAM_TOKEN=your_telegram_bot_token

# Banco de dados
DATABASE_URL=postgresql://user:password@localhost:5432/brocco

# Redis
REDIS_URL=redis://localhost:6379

# Storage (memory | postgres)
STORAGE_ADAPTER=postgres

# Admin
ADMIN_TOKEN=your_secret_admin_token
